
a.nav-link{
    color: #c9ab5e!important;
    border-bottom: 3px solid transparent;
}

a.nav-link:hover{
    color:white!important;    
}
a.nav-link:focus{
    border-bottom:3px solid #c9ab5e;
}


.carouselcaption{
    font-size: 70px;
    font-family: Arial black;
    color: white;
    z-index: 1;
    position: absolute;
    top:30%;
    margin-left: 5%;
}
#cc2{
    color: #c9ab5e;
    font-family: 'Franklin';
    font-size: 35px;
}

.backgroundFont{
    font-size: 45px;
    font-family: Arial;
    background-color: #c9ab5e;
    color: white;
    width:45%;
}